<article class="article-card">
    {% if let Some(cat) = article.category %}
    <a href="/?category={{ cat }}" class="card-category">{{ cat }}</a>
    {% endif %}
    <h2><a href="/article/{{ article.slug }}">{{ article.title }}</a></h2>
    {% if let Some(s) = article.summary.as_ref() %}
    <p class="article-summary">{{ s }}</p>
    {% endif %}
    <time>{{ article.formatted_published_at() }}</time>
    {% if let Some(lslug) = article.list_slug.as_deref() %}
    {% if let Some(lname) = article.list_name.as_deref() %}
    <a class="card-list" href="/list/{{ lslug }}">{{ lname }}</a>
    {% endif %}
    {% endif %}
</article>
